<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/header"); -%>
  <link rel="stylesheet" href="/stylesheets/authCSS/loginPage.css">
  <%- include("../partials/Navbar"); -%>

<body>

  <div class="login-wrapper">
    <div class="header-text">Login Here</div>
    <input type="text" placeholder="Your E-mail address">
    <input type="text" placeholder="password">
    <input 
      type="checkbox" 
      name="" 
      id="terms" 
      required 
      style="
        display: inline-block; 
        margin: 0 4px;
        padding: 0;
        width: 1rem;"
    >
    <p style="display: inline-block;">Agree with <a href="#"> Terms & Conditions</a></p>
    <button>login</button>
  </div>

</body>

</html>