<%- include("../partials/header"); -%>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/signup.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" action="/register" method="post">
  <img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
  <div class="row">
    <div class="col-6">
      <input type="name" name='firstname' class="form-control" placeholder="First Name" required autofocus>
      <input type="text" name='city'class="form-control" placeholder="City" required autofocus>
      <input type="name" name='username'class="form-control" placeholder="Username" required autofocus>
      <input type="tel" name='phone'class="form-control" placeholder="Phone" required autofocus>
      <input type="email" name='email'class="form-control" placeholder="Email" required autofocus>
      <input type="url" name='avatar'class="form-control" placeholder="Upload Photo(insert Url)" autofocus>
      <input type="text" name='address'class="form-control" placeholder="Address" required autofocus>  
    </div>
    <div class="col-6">
      <input type="name" name='lastname'class="form-control" placeholder="Last Name" required autofocus>
      <input type="text" name='state'class="form-control" placeholder="State" required autofocus>
      <input type="number" name='zip'class="form-control" placeholder="Pincode" required autofocus>
      <select class="form-control" name="gender" id="gender">
        <option selected disabled>--select--</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>     
      <select class="form-control" name="userRole" id="userRole" placeholder="select">
        <option selected disabled>--select--</option>
        <option value="patient">Patient</option>
        <option value="doctor">Doctor</option>
        <option value="management">Management</option>
      </select> 
      <!-- <label for="inputPassword" class="sr-only">Password</label> -->
      <input type="password" id="password" name='password' class="form-control" placeholder="Password" required>
      <input type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" required>
    </div>
    
  </div>
  

  
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" style="margin-top: 20px;"> I accept <a href="#">terms and conditions</a>
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  Already registered ? <a href="/userLogin">Login</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>
<script type="text/javascript">
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
</body>
</html>

<%- include("../partials/footer"); -%>