<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header"); -%>
    <link rel="stylesheet" href="/stylesheets/globalCSS/formTheme.css">
    <style>
        select{
            margin-left: 6rem
        }

        button{
            margin-left: 6rem
        }
    </style>
<body>
    <%- include("../../partials/Navbar"); -%>
    <div class="container" style="margin-top: 8rem ;">
        <form action="#">
            <h5 style="text-align: center; margin-bottom: 1rem;">Search hospitals in your city</h5>
            <div class="form-row" style="display: flex; justify-content:safe;">
                <div class="form-group col-md-4">
                    <select class="form-control" name="state" id="inputState">
                        <option disabled>Select state</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" name="city" id="inputCity">
                        <option disabled>Select City</option>
                        <option value="Kanpur">Kanpur</option>
                    </select>
                </div>  
                <div class="form-group col-md-2">
                    <button class="btn btn-xs btn-success" style="border-radius: 50%;"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>

    <%- include("../../partials/footer"); -%>
</body>
</html>