<link rel="stylesheet" href="/stylesheets/partials/altNavSidebar.css" />
<header class="header" id="header">
  <div class="header__toggle">
    <i class="bx bx-menu" id="header-toggle"></i>
  </div>
  <div id="brand">
    <ul>
      <li>
        <a href="/" id="brandName">MedBuddy</a>
      </li>
    </ul>
  </div>
  <div id="notification">
    <ul style="display: inline-flex;">
      <% if(!currentUser){ %>
      <div style="display: inline-flex;">
        <li>
          <div class="pr-2 bd-highlight nav-items" style="display: inline;">
            <a href="/register" style="text-decoration: none;">SignUp</a>
          </div>
          <div class="pr-2 bd-highlight nav-items" style="display: inline;">
            <a href="/userLogin" style="text-decoration: none;">Login</a>
          </div>
          <div class="pr-2 bd-highlight nav-ham" id="topNav">
            <a href="javascript:void(0);" class="icon" onclick="responsiveFunc()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </li>
      </div>
      <% } else { %>
        <li style="margin-right: 1rem;">
          <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
         </li>
        <div style="margin-right: 1rem">
          Signed In As <em> <%= currentUser.username%><%if(currentUser.isAdmin){%>(admin)<% }%></em>
        </div>
        <li>
          <a href="/logout">
            <i class="fas fa-sign-out-alt fa-lg"></i>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
  <div class="header__img">
    <!-- header img -->
  </div>
</header>

<div class="container" style="margin-top: 5rem;">
  <% if(success && success.length > 0) { %> 
    <div class="alert alert-success" role="alert">
      <%=success%>
    </div>
  <% }else if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
</div>
