<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="#" class="nav__logo">
        <i class="bx bx-layer nav__logo-icon"></i>
        <span class="nav__logo-name">MedBuddy</span>
      </a>

      <div class="nav__list" id="patientMenu">
        <a href="#" class="nav__link active">
          <i class="bx bx-grid-alt nav__icon"></i>
          <span class="nav__name">Dashboard</span>
        </a>

        <a href="/userDocSection/docList/:id" class="nav__link">
          <i class="bx bx-user nav__icon"></i>
          <span class="nav__name">Doctors</span>
        </a>

        <a href="#" class="nav__link">
          <i class="bx bx-message-square-detail nav__icon"></i>
          <span class="nav__name">Messages</span>
        </a>

        <a href="#" class="nav__link">
          <i class="bx bx-bookmark nav__icon"></i>
          <span class="nav__name">My Doctor</span>
        </a>

        <a href="#" class="nav__link">
          <i class="bx bx-folder nav__icon"></i>
          <span class="nav__name">History</span>
        </a>

        <a href="#" class="nav__link">
          <i class="bx bx-bar-chart-alt-2 nav__icon"></i>
          <span class="nav__name">Analytics</span>
        </a>
      </div>
      <div class="nav__list" id="doctorMenu">
        <a href="#" class="nav__link active">
          <i class="bx bx-grid-alt nav__icon"></i>
          <span class="nav__name">Dashboard</span>
        </a>

        <a href="/userDocSection/patientList/:id" class="nav__link">
          <i class="bx bx-user nav__icon"></i>
          <span class="nav__name">Patients</span>
        </a>

        <a href="#" class="nav__link">
          <i class="bx bx-message-square-detail nav__icon"></i>
          <span class="nav__name">Messages</span>
        </a>
      </div>
    </div>

    <a href="#" class="nav__link">
      <i class="bx bx-log-out nav__icon"></i>
      <span class="nav__name">Log Out</span>
    </a>
  </nav>
</div>
