<link
  rel="stylesheet"
  type="text/css"
  href="/stylesheets/partials/Sidebar.css"
/>

<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav
    class="navbar navbar-inverse fixed-top"
    id="sidebar-wrapper"
    role="navigation"
    style="margin-top: 4.5rem"
  >
    <ul class="nav sidebar-nav">
      <div class="sidebar-header">
        <div class="sidebar-brand">
          <a href="#">MedBuddy</a>
        </div>
      </div>
      <!-- Menu for patients  -->
      <li><a href="#">****Patient Menu*****</a></li>
      <li><a href="/userDocSection/docinfo/:id">Doctor Info</a></li>
      <li><a href="/userDocSection/changeDoc/:id">Change Doctor</a></li>
      <li><a href="/userDocSection/searchDoc">Search Doctor</a></li>
      <li class="dropdown">
        <a href="#works" class="dropdown-toggle" data-toggle="dropdown"
          >More <span class="caret"></span
        ></a>
        <ul class="dropdown-menu animated fadeInLeft" role="menu">
          <!-- <div class="dropdown-header">Dropdown heading</div> -->
          <li><a href="/userDocSection/appointments/:id">Appointments</a></li>
          <li><a href="/userDocSection/prescrip/:id">Prescriptions</a></li>
        </ul>
      </li>
      <!-- Menu for Doctors     -->
      <li><a href="#">****Doctor Menu****</a></li>
      <li><a href="/userDocSection/patientList/:id">Patient List</a></li>
      <li><a href="/userDocSection/reports/:id">Reports</a></li>
      <li><a href="/userDocSection/appointments/:id">Appointments</a></li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button
      type="button"
      class="hamburger animated fadeInLeft is-closed"
      data-toggle="offcanvas"
      style="margin-top: 3.5rem"
    >
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>
  <!-- /#page-content-wrapper -->
</div>
