<html lang="en" class="zoom">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>MedBuddy</title>
  <link rel="icon" href="img/xfavicon.png.pagespeed.ic.kJxerBTI_c.webp" />
  <!-- 
    <link rel="stylesheet" href="css/A.bootstrap.min.css+animate.css+owl.carousel.min.css+themify-icons.css+flaticon.css+magnific-popup.css+nice-select.css+slick.css,Mcc.T326ETSw6F.css.pagespeed.cf.zawz9KUVnp.css">
     -->

  <link rel="stylesheet" href="/stylesheets/altLanding.css" />
  <link rel="stylesheet" href="css/A.style.css.pagespeed.cf.WhSB8OK9Cq.css" />
</head>

<body>
  <header class="main_menu home_menu">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">
              <img src="/icon/medFinal.webp" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="
                  collapse
                  navbar-collapse
                  main-menu-item
                  justify-content-center
                " id="navbarSupportedContent">
              <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                  <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
            <span style="padding-right: 2rem"><a class="btn_2 d-none d-lg-block" href="/register">SignUp</a></span>
            <span><a class="btn_2 d-none d-lg-block" href="/userLogin">Login</a></span>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <section class="banner_part">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-xl-5">
          <div class="banner_text">
            <div class="banner_text_iner">
              <h5>We are here for your care</h5>
              <h1>Best Care &amp; Better Doctor</h1>
              <p>
                We at Medbuddy believe that proper healthcare is a fundamental right and everyone should have an access
                to it. Therefore through this platform we hope to connect you to the medical experts available on our
                platform in a hassle free way
              </p>
              <a href="/userDocSection/docList" class="btn_2">Make an appointment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="banner_img">
            <img src="/icon/xbanner_img.png.pagespeed.ic.MLXiW6RElW.webp" alt="" data-pagespeed-url-hash="2749540510"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_us padding_top">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 col-lg-6">
          <div class="about_us_img">
            <img src="/icon/xtop_service.png.pagespeed.ic.Sm2VeVkzSI.webp" alt="" data-pagespeed-url-hash="3259222683"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="about_us_text">
            <h2>About us</h2>
            <p>
              MedBuddy is a platform that connects patients and doctors around the world in order to provide low cost
              medical consultation to those who need it during this pandemic
            </p>
            <a class="btn_2" href="/about">learn more</a>
            <div class="banner_item">
              <div class="single_item">
                <img src="/icon/banner_1.svg" alt="" data-pagespeed-url-hash="3441956875"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                <h5>Emergency</h5>
              </div>
              <div class="single_item">
                <img src="/icon/banner_2.svg" alt="" data-pagespeed-url-hash="3736456796"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                <h5>Appointment</h5>
              </div>
              <div class="single_item">
                <img src="/icon/banner_3.svg" alt="" data-pagespeed-url-hash="4030956717"
                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                <h5>Qualfied</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature_part">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <div class="section_tittle text-center">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-3 col-sm-12">
          <div class="single_feature">
            <div class="single_feature_part">
              <span class="single_feature_icon"><img src="/icon/feature_2.svg"
                  style="position: relative; top: 0.8rem" /></span>
              <h4>Digital Consultation</h4>
              <p>
                Medbuddy provides its users a highly secured, end to end encrypted audio and video conferencing. SignUp
                now to try this feature!
              </p>
            </div>
          </div>
          <div class="single_feature">
            <div class="single_feature_part">
              <span class="single_feature_icon"><img src="/icon/database.svg"
                  style="position: relative; top: 0.8rem" /></span>
              <h4>Medical Records</h4>
              <p>
                No need to look for old medical records! MedBuddy allows users to access their previous medical history
                in a hassle free manner within a few clicks!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="single_feature_img">
            <img src="/icon/xservice.png.pagespeed.ic.eApuqSmIa_.webp" style="position: relative; top: 0.8rem" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="single_feature">
            <div class="single_feature_part">
              <span class="single_feature_icon"><img src="/icon/sms.svg"
                  style="position: relative; top: 0.8rem" /></span>
              <h4>SMS Alert</h4>
              <p>
                Never miss an appointment again! With Medbuddy you recieve an SMS and EMail alert as soon as the
                appointment starts.
              </p>
            </div>
          </div>
          <div class="single_feature">
            <div class="single_feature_part">
              <span class="single_feature_icon"><img src="/icon/prescription.svg"
                  style="position: relative; top: 0.8rem" /></span>
              <h4>Online Prescription</h4>
              <p>
                MedBuddy allows doctors to generate digital prescriptions in a matter of few clicks making medical
                consultation a lot easier
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our_depertment section_padding">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-xl-12">
          <div class="depertment_content">
            <div class="row justify-content-center">
              <div class="col-xl-8">
                <h2>Our Department</h2>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img style="position: relative; top: 0.8rem"
                          src="/icon/doctor.svg" alt="" data-pagespeed-url-hash="1937082196"
                          onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                      <h4>Online Consultation</h4>
                      <p>
                        Easy Doctor-Patient interaction with a responsive User Interface. Get Medical help in simply a
                        few clicks
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img style="position: relative; top: 0.8rem"
                          src="/icon/anatomy.svg" alt="" data-pagespeed-url-hash="1937082196"
                          onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                      <h4>Organ Vault</h4>
                      <p>
                        Users can request for organ transplant or put up their organ for donation in a matter of few
                        clicks
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img style="position: relative; top: 0.8rem"
                          src="/icon/hospital.svg" alt="" data-pagespeed-url-hash="1937082196"
                          onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                      <h4>Hospital Management</h4>
                      <p>
                        Allow hospitals to connect with their registered Doctors
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="single_our_depertment">
                      <span class="our_depertment_icon"><img style="position: relative; top: 0.8rem"
                          src="/icon/blood-test.svg" alt="" data-pagespeed-url-hash="1937082196"
                          onload="pagespeed.CriticalImages.checkImageForCriticality(this);" /></span>
                      <h4>Better Future</h4>
                      <p>
                        Blood bank for donating or requesting blood in a few clicks
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-area">
    <div class="footer section_padding">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Department</a></li>
              <li><a href="#"> Online payment</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Department</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
            <h4>Explore</h4>
            <ul>
              <li><a href="#">In the community</a></li>
              <li><a href="#">IU health foundation</a></li>
              <li><a href="#">Family support </a></li>
              <li><a href="#">Business solution</a></li>
              <li><a href="#">Community clinic</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-sm-6 col-md-6 single-footer-widget">
            <h4>Resources</h4>
            <ul>
              <li><a href="#">Lights were season</a></li>
              <li><a href="#"> Their is let wherein</a></li>
              <li><a href="#">which given over</a></li>
              <li><a href="#">Without given She</a></li>
              <li><a href="#">Isn two signs think</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
            <h4>Newsletter</h4>
            <p>
              Seed good winged wherein which night multiply midst does not
              fruitful
            </p>
            <div class="form-wrap" id="mc_embed_signup">
              <form target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                class="form-inline" novalidate="true">
                <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required=""
                  type="email" />
                <button class="click-btn btn btn-default text-uppercase">
                  <i class="ti-angle-right"></i>
                </button>
                <div style="position: absolute; left: -5000px">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright_part">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"> <i class="ti-twitter"></i> </a>
            <a href="#"><i class="ti-instagram"></i></a>
            <a href="#"><i class="ti-skype"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"rayId":"6554cf3a3eb441f0","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.1","si":10}'></script>
</body>

</html>