<%- include("./partials/header"); -%>

<div class="container">
        <div class="jumbotron mt-4">
            <h1>Consult Doctor</h1>
            <a href="/consultDoc" class=" btn btn-success btn-xs">Get Started</a>
        </div>
        <div class="jumbotron mt-4">
            <h1>Manage Hospital</h1>
            <a href="#" class=" btn btn-success btn-xs">Get Started</a>
        </div>
        <div class="jumbotron mt-4">
            <h1>Look for hospital</h1>
            <a href="#" class=" btn btn-success btn-xs">Get Started</a>
        </div>
        <div class="jumbotron mt-4">
            <h1>Other services</h1>
            <a href="#" class=" btn btn-success btn-xs">Get Started</a>
        </div>
</div>

<%- include("./partials/footer"); -%>