<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="../../../public/stylesheets/table/main.css"
    />

    <title>Page Title</title>
  </head>
  <link
    rel="stylesheet"
    href="../../../public/stylesheets/prescriptionGenerator.css"
  />
  <body>
    <div class="code-area">
      <textarea
        id="htmlCode"
        placeholder="HTML Code"
        oninput="showPreview()"
      ></textarea>
    </div>
    <div class="preview-area">
      <div class="card">
        <br />
        <br />
        <br />
        <div class="header">
          <div class="text">
            <h1>MedBuddy</h1>
            <h5>[Vigyanpuri Mahanagar, Lucknow]</h5>
          </div>
          <div id="icon">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
          </div>
        </div>
        <br />
        <br />

        <hr />
        <div class="docInfo">
          <p class="p1">
            <span id="docName">
              <input type="text" placeholder="Name" />
            </span>
            <span id="prescNo">
              Prescription No:
              <input type="text" />
            </span>
          </p>
          <p class="p2">
            <span>
              <input type="text" placeholder="MBBS" />
            </span>
            <span id="date">
              Date:
              <input type="text" />
            </span>
          </p>
          <p class="p3">
            <span>
              <input type="text" placeholder="Contact" />
            </span>
          </p>
        </div>
        <hr />
        <br />
        <br />
        <div class="flip-card">
          <div class="flip-card-inner">
            <table class="card" id="subCard">
              <thead>
                <tr class="table100-head">
                  <th class="column1">Medicine</th>
                  <th class="column1">Power</th>
                  <th class="column1">Dosage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="column1">Norflox</td>
                  <td class="column1">300MG</td>
                  <td class="column1">4 Times a Day</td>
                </tr>
                <tr>
                  <td class="column1">Norflox</td>
                  <td class="column1">300MG</td>
                  <td class="column1">4 Times a Day</td>
                </tr>
                <tr>
                  <td class="column1">Norflox</td>
                  <td class="column1">300MG</td>
                  <td class="column1">4 Times a Day</td>
                </tr>
              </tbody>
            </table>

            <div class="flip-card flip-card-inner flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="patInfo">
          <p>
            <span>
              Mr./Ms./Mrs.:
              <input type="text" placeholder="Name" />
            </span>
          </p>
          <p>
            <span>
              Age:
              <input type="text" />
            </span>
          </p>
          <p>
            <span>
              Address:
              <input type="text" />
            </span>
          </p>
          <p>
            <span>
              Contact:
              <input type="text" />
            </span>
          </p>
        </div>
        <br />
        <br />

        <div class="footer">
          <div id="footerIcon1">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div id="footerIcon2">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>

        <!-- <iframe id="preview-window"></iframe> -->
      </div>
    </div>
  </body>
  <script>
    function showPreview() {
      var htmlCode = document.getElementById("htmlCode").value;
      //   var cssCode = "";
      //   var jsCode = "" + document.getElementById("jsCode").value + "";
      var frame = document.getElementById("preview-window").contentWindow
        .document;
      frame.open();
      frame.write(htmlCode);
      frame.close();
    }
  </script>
</html>
