<%- include('../views/partials/header'); %>

  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>

  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/videoScript.js" defer></script>
  <link rel="stylesheet" href="/stylesheets/videoCall.css">
  
  <title>Video Chat</title>
</head>
<body>
  <div id="video-grid"> 
  </div>
  <div id="btn">
    <form action="/">
    <button type="submit" class="btn btn-danger">Disconnect</button>

  </form>
</div>
<div>
  <input type="button" value="Invite" onclick="submitForms();setval(1,ROOM_ID);" />
</div>
<script src="/activateVideoLink.js"></script>
  <%- include('../views/partials/footer'); %>
  

