.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.div5 {
    background-color: pink !important;
    grid-column: 1/3;
}

.div6 {
    grid-column: 3/5;
}

/* .div7 {
    background-color: black !important;
    grid-column: 1/5;
} */

.div8 {
    grid-column: 1/5;
}

main {
    /* width: 90%; */
    margin: auto;
    display: grid !important;
    grid-template-rows: 167px 450px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

#div8 {
    padding: 4%;
}

.card-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    margin: 25px;
    box-shadow: 5px 3px 10px 0 rgb(21 15 15 / 30%);
    border-radius: 10px;
    background: #6777ef;
    text-align: center;
    display: inline-block;
}

.align-middle {
    vertical-align: middle !important;
}

.material-icons {
    color: #fff!important;
}

.card-right {
    float: right;
    margin: 15px 15px 15px 0;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.pull-right {
    float: right!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.h3, h3 {
    font-size: 1.75rem;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.card-chart canvas {
    height: 70px!important;
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}

.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

.card-chart {
    margin-left: -10px;
    margin-right: -1px;
    margin-bottom: -7px;
}

/* ************************************* */

/* Table css  */

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

/* ------------------------------------ */

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

/* ------------------------------------ */

/* input {
    display: block;
      outline: none;
      border: none !important;
  } */

textarea {
    display: block;
    outline: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

/* ------------------------------------ */

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/* iframe {
      border: none !important;
  } */

/*//////////////////////////////////////////////////////////////////
  [ Utiliti ]*/

/*//////////////////////////////////////////////////////////////////
  [ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td, table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td, table th {
    text-align: left;
}

table td.l, table th.l {
    text-align: right;
}

table td.c, table th.c {
    text-align: center;
}

table td.r, table th.r {
    text-align: center;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}

.column7 {
    width: 80px;
    padding-right: 40px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }
    table>*, table tr, table td, table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    .column4, .column5, .column6 {
        text-align: left;
    }
    .column4, .column5, .column6, .column1, .column2, .column3 {
        width: 100%;
    }
    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ***************************************** */