/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-top: 3rem;*/
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* NAV and FOOTER CSS */
.customNav{
  background: rgba( 0, 0, 0, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.4 );

  width: 100%;
  height: 4.5rem;
  z-index: 999;
  top: 0;
  margin-bottom: 3rem;
  position: fixed;
  color: white;
  padding: 12px;
}

.customNav .nav-items {
  padding: 12px;
  cursor: pointer;
}

.customNav .nav-title h3 {
  line-height: 0.9;
  padding: 12px;
  cursor: pointer;
}

.customNav .nav-items h4 {
  font-weight: 100;
}

.customNav .nav-items a{
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 0.9;
}
.customNav .nav-ham a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1;
  padding: 12px;
  display: none;
  
}

@media (max-width: 790px) {
  .customNav .nav-items {
    display: none;
  }
  .customNav .nav-ham a {
    margin-left: auto;
    display: block;
    position: absolute;
  }
}

@media screen and (max-width: 600px) {
.customNav .nav-ham.responsive {position: relative;}
.customNav .nav-ham.responsive a {
  position: absolute;
  right: 0;
  top: 0;
}
.customNav .nav-ham.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}

/* footer css */

.footer {
height: 20rem;
background-color: rgba(24, 22, 22, 0.863);
position: absolute;
width: 100%;
margin-top: 4rem;
text-align: center;
}

/* Navbar dropdown css */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-weight: 100;
  /* line-height: 0.5; */
}

.nav-items:hover{
  /* background-color: red; */
  border-bottom: 1px solid rgb(233, 215, 215);
  font-weight: 400;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.4 );

  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  margin-top: 25px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  z-index: 100;
  display: block;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* images border css */

img{
  padding:1px;
  border:1px solid #021a40;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 5px #ccc;
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  object-fit: cover;
}


/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* ------------- */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

