#video-grid {
  position: relative;
  margin: auto;
  width: 50%;
  padding: 10px;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  margin-top: 250px;
}

a {
  color: inherit;
}

video {
  width: 50%;
  height: 50%;
  object-fit: cover;
  padding: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
}

#btn {
  vertical-align: bottom;
  margin-top: 5px;
  text-align: center;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.content-block {
  position: relative;
  bottom: 15%;
}

.callHandler {
  margin: auto;
  width: fit-content;
}

li {
  padding: 16px;
  font-size: 44px;
}