<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header"); -%>
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css">
    <link rel="stylesheet" href="/stylesheets/userHospSection/organDonation/organDonation.css">
    <style type="text/css">
        input, textarea {
            border-radius:5px;
        }
        </style>

</head>
<body id="body-pd">
    <%- include("../../partials/altNavbar"); -%>
    <%- include("../../partials/altSidebar"); -%>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                    <strong id="introPage">Sections</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="liverPage">Liver</li>
                    <li class="list-group-item" id="kidneyPage">Kidney</li>
                    <li class="list-group-item" id="heartPage">Heart</li>
                    <li class="list-group-item" id="eyesPage">Eyes</li>
                    <li class="list-group-item" id="intestinePage">Intestines</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <div class="introPage"  style="text-align: center; margin-top: 3rem;">
                        <p>
                            Organ donation is a social act that is looked upon with honour. India follows the opt-in 
                            system for organ donation. The Transplantation of Human Organs Act 1994 controls the organ
                            donation in India. India’s Ministry of Health and Family Welfare Government website gives
                            out legal forms for those wishing to donate an organ.
                        </p>

                        <strong>
                            <h3>"You were born with the ability to change someone's life. Don't ever waste it"</h3> 
                        </strong>
                    </div>
                    <div action="#" class="liverPage">
                        <h3>Liver Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="liverSearchBtn">Search for Liver Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick=showLiverForm() id="liverRegisterBtn">Register to donate Liver</button>
                        <div id="liverSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" class=" p-3 mb-5  border-radius: 25px">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" id="liverForm" class="liverForm  p-3 mb-5 ">
                            <h3 style="text-align: center;">Liver Donation Form</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input style="border-radius:25px;"  type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input style="border-radius:25px;"  type="password" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                    <div action="#" class="kidneyPage">
                        <h3>Kidney Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="kidneySearchBtn">Search for Kidney Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showKidneyForm()" id="kidneyRegisterBtn">Register to donate Kidney</button>
                        <div id="kidneySearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" class=" p-3 mb-5 ">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" id="kidneyForm" class="kidneyForm  p-3 mb-5 ">
                            <h3 style="text-align: center;">Kidney Donation Form</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input style="border-radius:25px;"  type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input style="border-radius:25px;"  type="password" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                    <div class="heartPage">
                        <h3>Heart Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="heartSearchBtn">Search for Heart Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showHeartForm()" id="heartRegisterBtn">Register to donate Heart</button>
                        <div id="heartSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" class=" p-3 mb-5 ">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" id="heartForm" class="heartForm  p-3 mb-5 ">
                            <h3 style="text-align: center;">Heart Donation Form</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input style="border-radius:25px;"  type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input style="border-radius:25px;"  type="password" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                    <div action="#" class="eyesPage">
                        <h3>Eyes Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="eyesSearchBtn">Search for Eyes Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showEyesForm()" id="eyesRegisterBtn">Register to donate Eyes</button>
                        <div id="eyesSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" class=" p-3 mb-5 ">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" id="eyesForm" class="eyesForm  p-3 mb-5 ">
                            <h3 style="text-align: center;">Eyes Donation Form</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input style="border-radius:25px;"  type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input style="border-radius:25px;"  type="password" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                    <div action="#" class="intestinePage">
                        <h3>Intestine Donation</h3>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-primary" id="intestineSearchBtn">Search for Intestines Donor</button>
                        <button style="border-radius:25px;"  class="btn btn-xs btn-outline-success" onclick="showIntestineForm()" id="intestineRegisterBtn">Register to donate Intestines</button>
                        <div id="intestineSearch" style="margin-top: 3rem;">
                            <form style="border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" class=" p-3 mb-5 ">
                                <h3 style="text-align: center;">Search By your city</h3>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">State:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="state" placeholder="State Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="firstName">City:</label>
                                        <input style="border-radius:25px;"  type="text" class="form-control" name="city" placeholder="City Name">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form style="margin-top: 3rem; margin-top: 3rem;width: 100%; border-radius: 25px;box-shadow: 0 0 12px 0px rgb(0 0 0 / 20%);" action="#" id="intestineForm" class="intestineForm  p-3 mb-5 ">
                            <h3 style="text-align: center;">Intestine Donation Form</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input style="border-radius:25px;"  type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input style="border-radius:25px;"  type="password" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input style="border-radius:25px;"  type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input style="border-radius:25px;"  class="form-check-input" type="checkbox" >
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                                </div>
                            </div>
                            <button style="border-radius:25px;"  type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer"); -%>
    <script>
        AOS.init({
        duration: 900,
      });
    </script>

    <script src="/jsFiles/viewJS/userHospJS/organDonation.js"></script>
    
</body>
</html>