<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header"); -%>
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css">

    <style>
        .row{
            margin-top: 8rem ;
        }

        .liverForm, .kidneyForm, .heartForm, .eyesForm, .intestineForm {
            display: none;
        }
        .liverPage, .kidneyPage, .heartPage, .eyesPage, .intestinePage {
            display: none;
        }
        .showPage{
            display: block;
        }
        .show{
            display: block;
        }
    </style>

</head>
<body>
    <%- include("../../partials/Navbar"); -%>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                    <strong id="introPage">Sections</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="liverPage">Liver</li>
                    <li class="list-group-item" id="kidneyPage">Kidney</li>
                    <li class="list-group-item" id="heartPage">Heart</li>
                    <li class="list-group-item" id="eyesPage">Eyes</li>
                    <li class="list-group-item" id="intestinePage">Intestines</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <div class="introPage"  style="text-align: center; margin-top: 3rem;">
                        <p>
                            Organ donation is a social act that is looked upon with honour. India follows the opt-in 
                            system for organ donation. The Transplantation of Human Organs Act 1994 controls the organ
                            donation in India. India’s Ministry of Health and Family Welfare Government website gives
                            out legal forms for those wishing to donate an organ.
                        </p>

                        <strong>
                            <h3>"You were born with the ability to change someone's life. Don't ever waste it"</h3> 
                        </strong>
                    </div>
                    <div action="#" class="liverPage">
                        <h3>Liver Donation</h3>
                        <button class="btn btn-xs btn-outline-primary" id="searchBtn">Search for Liver Donor</button>
                        <button class="btn btn-xs btn-outline-success" onclick=showLiverForm() id="registerBtn">Register to donate Liver</button>
                        <form action="#" id="liverForm" class="liverForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                    </div>
                    <div action="#" class="kidneyPage">
                        <h3>Kidney Donation</h3>
                        <button class="btn btn-xs btn-outline-primary">Search for Kidney Donor</button>
                        <button class="btn btn-xs btn-outline-success" onclick="showKidneyForm()">Register to donate Kidney</button>
                    </div>
                    <div action="#" class="heartPage">
                        <h3>Heart Donation</h3>
                        <button class="btn btn-xs btn-outline-primary">Search for Heart Donor</button>
                        <button class="btn btn-xs btn-outline-success" onclick="showHeartForm()">Register to donate Heart</button>
                    </div>
                    <div action="#" class="eyesPage">
                        <h3>Eyes Donation</h3>
                        <button class="btn btn-xs btn-outline-primary">Search for Eyes Donor</button>
                        <button class="btn btn-xs btn-outline-success" onclick="showEyesForm()">Register to donate Eyes</button>
                    </div>
                    <div action="#" class="intestinePage">
                        <h3>Intestine Donation</h3>
                        <button class="btn btn-xs btn-outline-primary">Search for Intestines Donor</button>
                        <button class="btn btn-xs btn-outline-success" onclick="showIntestineForm()">Register to donate Intestines</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#introPage").on('click', function() {
            $(".liverPage, .kidneyPage, .heartPage, .eyesPage, .intestinePage").hide();
            $(".introPage").fadeIn();
        });

        $("#liverPage").on('click', function() {
            $("#kidneyPage, #heartPage, #eyesPage, #intestinePage").css({'font-weight': 'normal', 'font-style': 'none'});
            $('#liverPage').css({'font-weight': 'bold', 'font-style': 'italic'});
            $(".introPage, .kidneyPage, .heartPage, .eyesPage, .intestinePage").hide();
            $(".liverPage").fadeIn();
        });

        $("#kidneyPage").on('click', function() {
            $("#liverPage, #heartPage, #eyesPage, #intestinePage").css({'font-weight': 'normal', 'font-style': 'none'});
            $('#kidneyPage').css({'font-weight': 'bold', 'font-style': 'italic'});
            $(".introPage, .liverPage, .heartPage, .eyesPage, .intestinePage").hide();
            $(".kidneyPage").fadeIn();
        });

        $("#heartPage").on('click', function() {
            $("#liverPage, #kidneyPage, #eyesPage, #intestinePage").css({'font-weight': 'normal', 'font-style': 'none'});
            $('#heartPage').css({'font-weight': 'bold', 'font-style': 'italic'});
            $(".introPage, .liverPage, .kidneyPage, .eyesPage, .intestinePage").hide();
            $(".heartPage").fadeIn();
        });

        $("#eyesPage").on('click', function() {
            $("#liverPage, #kidneyPage, #heartPage, #intestinePage").css({'font-weight': 'normal', 'font-style': 'none'});
            $('#eyesPage').css({'font-weight': 'bold', 'font-style': 'italic'});
            $(".introPage, .liverPage, .kidneyPage, .heartPage, .intestinePage").hide();
            $(".eyesPage").fadeIn();
        });

        $("#intestinePage").on('click', function() {
            $("#liverPage, #kidneyPage, #heartPage, #eyesPage").css({'font-weight': 'normal', 'font-style': 'none'});
            $('#intestinePage').css({'font-weight': 'bold', 'font-style': 'italic'});
            $(".introPage, .liverPage, .kidneyPage, .heartPage, .eyesPage").hide();
            $(".intestinePage").fadeIn();
        });

        function showLiverForm() {
            flag=0;
            document.getElementById("liverForm").classList.toggle("show");
            var elem = document.getElementById("registerBtn");
            if (elem.innerHTML=="Register to donate Liver") elem.innerHTML = "Close Form";
            else elem.innerHTML = "Register to donate Liver";
            if( document.getElementById("registerBtn").className == "btn btn-xs btn-success")
                document.getElementById("registerBtn").className = "btn btn-xs btn-outline-success";
            else
                {
                    document.getElementById("registerBtn").className = "btn btn-xs btn-success";
                }
        };
        function showKidneyForm() {
            document.getElementById("kidneyForm").classList.toggle("show");
            var elem = document.getElementById("registerBtn");
            if (elem.innerHTML=="Register to donate Kidney") elem.innerHTML = "Close Form";
            else elem.innerHTML = "Register to donate Kidney";
        };
        function showHeartForm() {
            document.getElementById("heartForm").classList.toggle("show");
            var elem = document.getElementById("registerBtn");
            if (elem.innerHTML=="Register to donate Heart") elem.innerHTML = "Close Form";
            else elem.innerHTML = "Register to donate Heart";
        };
        function showEyesForm() {
            document.getElementById("eyesForm").classList.toggle("show");
            var elem = document.getElementById("registerBtn");
            if (elem.innerHTML=="Register to donate Eyes") elem.innerHTML = "Close Form";
            else elem.innerHTML = "Register to donate Eyes";
        };
        function showIntestineForm() {
            document.getElementById("intentineForm").classList.toggle("show");
            var elem = document.getElementById("registerBtn");
            if (elem.innerHTML=="Register to donate Intestines") elem.innerHTML = "Close Form";
            else elem.innerHTML = "Register to donate Intestines";
        };
    </script>

    <%- include("../../partials/footer"); -%>  fsk
</body>
</html>