<%- include("../partials/header"); -%> <%- include("../partials/Navbar");-%>
<%-include("../partials/Sidebar");-%>

<!-- appointment info file -->

<form action="/join_call" method="GET">
  <button type="submit">Join</button>
</form>

<script src="/activateVideoLink.js"></script>
<%- include("../partials/footer"); -%>
