<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="/stylesheets/section1.css" />

  <%- include("../partials/header"); -%>
  <body>
    <%-include("../partials/Navbar");-%> <%-include("../partials/Sidebar");-%>
    <%-include("../partials/footer");-%>
  </body>
</html>
