<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/stylesheets/landing.css" />
  <!-- <link rel="stylesheet" href="/stylesheets/partials/navbar.css" /> -->

  <%- include("../partials/header"); -%>
  <body id="body-pd">
    <%-include("../partials/altNavbar");-%>
    <%-include("../partials/altSidebar");-%>
    <%-include("../partials/footer");-%>
  </body>
</html>
