<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header"); -%>
    <style>

        body{
            overflow: hidden;
        }
        #bg-img{
            background-image: url('../../../assets/images/backgrounds/background1.png');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
    </style>
<body id="body-pd">
    <div id="bg-img">
    <%- include("../../partials/altNavbar"); -%>
    <%- include("../../partials/altAdminSideNavbar"); -%>


    <div class="container" style="justify-content: center; margin: 8rem auto 0;">
        <div class="row" style="margin-left: 4rem;">
            <div class="col-sm-4" data-aos="fade-up-right">
                <div class="card" style="width: 18rem;border-radius: 25px;box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 50%);">
                    <img src="https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..." 
                        style="
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        ">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Hospital Profile</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    </ul>
                    <div class="card-body">
                        <% if(foundHosp.length > 0){%>
                            <i class="fas fa-check-circle"></i><span> <strong> Submitted</strong></span>
                        <% } else { %> 
                            <a href="/dashboards/hospAdmin/hospitalProfile" class="card-link btn btn-outline-success btn-xs" style="border-radius: 20px;">Create Hospital Profile <i class="fas fa-chevron-right"></i></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"  data-aos="fade-down">
                <div class="card" style="width: 18rem;border-radius: 25px;box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 50%);">
                    <img src="https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."
                        style="
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        ">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Hospital Admin Profile</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    </ul>
                    <div class="card-body">
                        <% if(foundAdmin.length > 0){%>
                            <i class="fas fa-check-circle"></i><span> <strong> Submitted</strong></span>
                        <% } else { %> 
                            <a href="/dashboards/hospAdmin/hospAdminProfile" class="card-link btn btn-outline-success btn-xs" style="border-radius: 20px;">Create Admin Profile <i class="fas fa-chevron-right"></i></a>
                        <% } %> 
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4" data-aos="fade-up-left">
                <div class="card" style="width: 18rem;border-radius: 25px;box-shadow: 1px 1px 20px 0px rgb(0 0 0 / 50%);">
                    <img src="https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..."
                        style="
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        ">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Other Profiles</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    </ul>
                    <div class="card-body">
                    <a href="/dashboards/hospAdmin/otheProfile" class="card-link btn btn-outline-success btn-xs" style="border-radius: 20px;">Create Other Profiles <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer"); -%>

    <script>
        AOS.init({
        duration: 1200,
        });
    </script>
     
    </div>
</body>
</html>

