<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/header"); -%>
<body>
    <%- include("../../partials/Navbar"); -%>

    <div class="container" style="justify-content: center; margin: 8rem auto 0;">
        <div class="row">
            <div class="col-sm-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Hospital Profile</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    </ul>
                    <div class="card-body">
                    <a href="/dashboards/hospAdmin/hospitalProfile" class="card-link btn btn-outline-success btn-xs">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Hospital Admin Profile</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    </ul>
                    <div class="card-body">
                    <a href="/dashboards/hospAdmin/hospAdminProfile" class="card-link btn btn-outline-success btn-xs">Get Started</a>
                    </div>
                </div>cv
            </div>
        </div>
        <div class="row" style="margin: 2rem auto; justify-content: center;">
            <div class="form-group col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aG9zcGl0YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><strong>Other Profiles</strong></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    </ul>
                    <div class="card-body">
                    <a href="/dashboards/hospAdmin/otheProfile" class="card-link btn btn-outline-success btn-xs">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../partials/footer"); -%>
</body>
</html>